{{> header }}

<body style="width: 98.9vw; height:100vh">
    
    <section class="menuBar">
        <h5 class="card-header" style="    margin: 3px; margin-bottom: 20px; font-size: 31px; color:white;">
            <img src="../../assets/images/logoBueno.jpg" style="width: 45px; margin-right: 10px;">Modificar Sucursal
            <div class="btn-group" style="float: right;">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menú
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/inicioGG" class="dropdown-item">Perfil</a>
                    <a href="/logout" class="dropdown-item">Cerrar Sesión</a>
                </div>
            </div>
        </h5>
    </section>

    <section style='justify-content:center; margin: 2em;'>
        <a href="/sucursales"><button type="button" class="btn btn-primary btn-lg">Regresar</button></a>
    </section>


    <section style="justify-content:center; width:100%; margin-bottom: 100px;">
        <section style="justify-content:center; width:80%; margin:auto;">
            <form action="/sucursales/editarSucursal" method="POST">
            {{#each sucursal}}
                <div style="display: -webkit-box">
                    <h3 style="margin:10px;">Modificar Sucursal</h3>
                    <i data-feather="user" style="margin: 1em;"></i>
                </div>
                <hr>
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">ID Sucursal:</label>
                    <div class="col-sm-4">
                    <input class="form-control" name="id_sucursal" value="{{id_sucursal}}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Direccion:</label>
                    <div class="col-sm-4">
                    <input class="form-control" name="direccion" value="{{direccion}}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Municipio:</label>
                    <div class="col-sm-4">
                    <input class="form-control" name="municipio" value="{{municipio}}" required>
                    </div>
                </div><div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Estado:</label>
                    <div class="col-sm-4">
                    <input class="form-control" name="estado" value="{{estado}}" required>
                    </div>
                </div><div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Código Postal:</label>
                    <div class="col-sm-4">
                    <input class="form-control" name="codigo_postal" value="{{codigo_postal}}" required>
                    </div>
                </div></div><div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Region:</label>
                    <div class="col-sm-4">
                    <input class="form-control" name="region" value="{{region}}" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Guardar</button>
            {{/each}}
            </form>    
        </section>
    </section>
</body>
{{> footer}}
{{!-- <script src="../../../assets/javascripts/jquery-3.3.1.js"></script> --}}