{{> header }}

<body style="width: 98.9vw; height:100vh">
    <section class="menuBar">
        <h5 class="card-header" style="    margin: 3px; margin-bottom: 20px; font-size: 31px; color:white;">
            <img src="../../assets/images/logoBueno.jpg" style="width: 45px; margin-right: 10px;">Sucursales
            <div class="btn-group" style="float: right;">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menú
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/inicioGG" class="dropdown-item">Perfil</a>
                    <a href="/logout" class="dropdown-item">Cerrar Sesión</a>
                </div>
            </div>
        </h5>
    </section>

    <section style='justify-content:center; margin: 2em;'>
        <a href="/inicioGG"><button type="button" class="btn btn-primary btn-lg">Regresar</button></a>
        <a href="/sucursales/altaSucursal"><button type="button" class="btn btn-success btn-lg">Nuevo</button></a>
    </section>

    <section style="margin-bottom: 100px;">
        <table class="table" id="tablaSucursales">
            <thead class="thead-light">
                <tr>
                <th scope="col">ID Sucursal</th>
                <th scope="col">Dirección</th>
                <th scope="col">Municipio</th>
                <th scope="col">Estado</th>
                <th scope="col">Código Postal</th>
                <th scope="col">Región</th>
                <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each sucursales}}
                <tr>
                {{!-- <th scope="row"></th> --}}
                    <td id="id_sucursal">{{id_sucursal}}</td>
                    <td>{{direccion}}</td>
                    <td>{{municipio}}</td>
                    <td>{{estado}}</td>
                    <td>{{codigo_postal}}</td>
                    <td>{{region}}</td>
                    <td>
                        <a href="/sucursales/modificarSucursal/{{id_sucursal}}" style="vertical-align: text-top;text-decoration-line: none; color:black;">
                            <i data-feather="edit" style="vertical-align: bottom; margin-right: 5px;"></i>
                            Editar
                        </a>
                        {{!-- <a id={{id_cliente}} class="eliminarCliente" href=""> Eliminar</a> --}}
                        <a id="eliminarSucursal" href="" style="vertical-align: text-top;text-decoration-line: none; margin-left: 7px; color: red;">
                            <i data-feather="x-circle" style="vertical-align: bottom; margin-right: 5px;"></i>
                            Eliminar
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</body>
{{> footer}}
<script src="../../assets/javascripts/sucursales.js"></script>