{{> header }}
<style>
    .carro {
    pointer-events: none;
}
</style>

<body style="width: 98.9vw; height:100vh">
    <section class="menuBar">
        <h5 class="card-header" style="    margin: 3px; margin-bottom: 20px; font-size: 31px; color:white;"> 
            <img src="../../assets/images/logoBueno.jpg" style="width: 45px; margin-right: 10px;">Carros
            <div class="btn-group" style="float: right;">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menú
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/inicioV" class="dropdown-item">Perfil</a>
                    <a href="/logout" class="dropdown-item">Cerrar Sesión</a>
                </div>
            </div>
        </h5>
    </section>

    <section style='justify-content:center; margin: 2em;'>
        <a href="/inicioV"><button type="button" class="btn btn-primary btn-lg">Regresar</button></a>
    </section>

    <section style="margin-bottom: 100px;">
        <table class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Modelo</th>
                <th scope="col">Versión</th>
                <th scope="col">Transmisión</th>
                <th scope="col">Color</th>
                <th scope="col">Status</th>
                <th scope="col">Acciones</th>                
                </tr>
            </thead>
            <tbody>
                {{#each carros}}
                <tr>
                <td>{{nombre}}</td>
                <td>{{modelo}}</td>
                <td>{{version}}</td>
                <td>{{transmision}}</td>
                <td>{{color}}</td>
                <td>{{statuss}}</td>
                <td>
                    <a data-toggle="modal" data-target="#myModal" style="vertical-align: text-top;text-decoration-line: none; color:black;"
                            data-toggle="tooltip" data-placement="top" title="Detalles del Auto">
                            <i class="carro" data-feather="truck" style="vertical-align: bottom; margin-right: 5px;"></i>
                            <input hidden name="id_carro" value="{{id_carro}}">                
                    </a>
                    {{!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    {{id_carro}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div> --}}



                    {{!-- <a href="/clientes/modificarCliente/{{id_cliente}}" style="vertical-align: text-top;text-decoration-line: none; color:black;"
                            data-toggle="tooltip" data-placement="top" title="Editar Cliente">
                            <i data-feather="edit" style="vertical-align: bottom; margin-right: 5px;"></i>
                        </a> --}}
                </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</body>
{{> footer}}
<script src="../../assets/javascripts/modalCarros.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>