{{> header }}

<body style="width: 98.9vw; height: 100vh;">

    <section class="menuBar">
        <h5 class="card-header" style="margin: 3px; margin-bottom: 20px; font-size: 31px; color:white;">
            <img src="../../assets/images/logoBueno.jpg" style="width: 45px; margin-right: 10px;">Clientes
            <div class="btn-group" style="float: right;">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menú
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/inicioV" class="dropdown-item">Perfil</a>
                    <a href="/logout" class="dropdown-item">Cerrar Sesión</a>
                </div>
            </div>
        </h5>
    </section>

    <section style='justify-content:center; margin: 2em;'>
        <a href="/inicioV">
            <button type="button" class="btn btn-primary btn-lg">Regresar</button>
        </a>
        <a href="/clientes/altaCliente">
            <button type="button" class="btn btn-success btn-lg">Nuevo Cliente</button>
        </a>
    </section>

    <div style="margin: 1em;">
        <div class="input-group" style="width:30%; margin: auto;">
            <input type="text" id="inputBuscar" class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Buscar Nombre">
            <div class="input-group-append">
                <button type="button" id="buscar" class="btn btn-outline-secondary">Buscar</button>
            </div>
        </div>
    </div>

    <section style="margin-bottom: 100px;">
        <table class="table" id="tablaClientes">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID Cliente</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Domicilio</th>
                    <th scope="col">ID Vendedor</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each clientes}}
                <tr>
                    {{!--
                    <th scope="row"></th> --}}
                    <td id="id_cliente">{{id_cliente}}</td>
                    <td>{{nombre}}</td>
                    <td>{{telefono}}</td>
                    <td>{{email}}</td>
                    <td>{{domicilio}}</td>
                    <td>{{id_vendedor}}</td>
                    <td>
                        <a href="" style="vertical-align: text-top; text-decoration-line: none; color:black;" data-toggle="tooltip" data-placement="top"
                            title="Email">
                            <i data-feather="mail" style="vertical-align: bottom; margin-right: 5px;"></i>
                        </a>
                        <a href="" style="vertical-align: text-top; text-decoration-line: none; color:black;" data-toggle="tooltip" data-placement="top"
                            title="Agendar Cita">
                            <i data-feather="calendar" style="vertical-align: bottom; margin-right: 5px;"></i>
                        </a>
                        <a href="" style="vertical-align: text-top; text-decoration-line: none; color:black;" data-toggle="tooltip" data-placement="top"
                            title="Llamar">
                            <i data-feather="phone-call" style="vertical-align: bottom; margin-right: 5px;"></i>
                        </a>
                        <a href="" style="vertical-align: text-top; text-decoration-line: none; color:black;" data-toggle="tooltip" data-placement="top"
                            title="Mensaje Texto">
                            <i data-feather="inbox" style="vertical-align: bottom; margin-right: 5px;"></i>
                        </a>
                        <a href="/clientes/modificarCliente/{{id_cliente}}" style="vertical-align: text-top;text-decoration-line: none; color:black;"
                            data-toggle="tooltip" data-placement="top" title="Editar Cliente">
                            <i data-feather="edit" style="vertical-align: bottom; margin-right: 5px;"></i>
                        </a>
                        {{!--
                        <a id={{id_cliente}} class="eliminarCliente" href=""> Eliminar</a> --}}
                        <a id="eliminarCliente" href="" style="vertical-align: text-top;text-decoration-line: none; margin-left:7px; color:red;"
                            data-toggle="tooltip" data-placement="top" title="Eliminar Cliente">
                            <i data-feather="x-circle" style="vertical-align: bottom; margin-right: 5px;"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</body>
{{> footer}}
<script src="../../assets/javascripts/clientes.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>