{{> header }}

<body style="width: 100vw; height:100vh">
    <section>
        <h5 class="card-header" style="    margin: 3px; margin-bottom: 20px; font-size: 31px;">Clientes
            <div class="btn-group" style="float: right;">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menú
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/inicioV"><button class="dropdown-item" type="button">Perfil</button></a>
                    <button class="dropdown-item" type="button">Cerrar Sesión</button>
                </div>
            </div>
        </h5>
    </section>

    <section style='justify-content:center; width:100%; margin: 1em;'>
        <a href="/inicioV"><button type="button" class="btn btn-primary btn-lg">Regresar</button></a>
        <a href="/clientes/altaCliente"><button type="button" class="btn btn-primary btn-lg">Nuevo Cliente</button></a>
    </section>

    <section>
        <table class="table" id="tablaClientes">
            <thead class="thead-light">
                <tr>
                <th scope="col">ID Cliente</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Email</th>
                <th scope="col">Domicilio</th>
                <th scope="col">ID Vendedor</th>
                <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each clientes}}
                <tr>
                    {{!-- <th scope="row"></th> --}}
                    <td id="id_cliente">{{id_cliente}}</td>
                    <td>{{nombre}}</td>
                    <td>{{telefono}}</td>
                    <td>{{email}}</td>
                    <td>{{domicilio}}</td>
                    <td>{{id_vendedor}}</td>
                    <td>
                        
                        <a href="/" style="vertical-align: text-top;text-decoration-line: none;"><i data-feather="edit" style="vertical-align: bottom; margin-right: 5px;"></i>Editar</a>

                        {{!-- <a id={{id_cliente}} class="eliminarCliente" href=""> Eliminar</a> --}}
                        {{!-- <i data-feather="x-circle"></i> --}}
                        <a id="eliminarCliente" href="" style="vertical-align: text-top;text-decoration-line: none;"><i data-feather="x-circle" style="vertical-align: bottom; margin-right: 5px;"></i>Eliminar</a>
                    </td>

                    {{!-- td
                    a(class=['ui button basic icon'] href='#' data-inverted='' 
                    data-tooltip='Eliminar' data-position='top center' id='btn-eliminar')
                    i(class=['trash icon']) --}}



                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>

    <section>
        <div class="card text-center" style="">
            <div class="card-header">
                 Creado por Michelovers 6°E
            </div>
            <div class="card-body">
                <h5 class="card-title">Control de Inventario de Mazda</h5>
                <p class="card-text">Este software fue desarrollado por un equipo de estudiantes de la Universidad de Colima como proyecto Integrador.<p>
                <a href="http://www.mazda.com" class="btn btn-primary">Mazda</a>
            </div>
        </div>
    </section>
    {{!-- <script src="../../assets/javascripts/jquery-3.3.1.js"></script>
    <script src="../../assets/javascripts/clientes.js"></script> --}}
    {{!-- <script src="../../assets/javascripts/ajax.js"></script> --}}
    {{!-- <script src="../../assets/feather-icons/dist/feather.js"></script> --}}
    {{!-- <script> feather.replace(); </script> --}}
</body>

{{> footer}}