{{> header }}

<body style="width: 100vw; height:100vh">
    <section>
        <h5 class="card-header" style="    margin: 3px; margin-bottom: 20px; font-size: 31px;">Clientes
            <div class="btn-group" style="float: right;">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menú
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/inicioV"><button class="dropdown-item" type="button">Perfil</button></a>
                    <button class="dropdown-item" type="button">Cerrar Sesión</button>
                </div>
            </div>
        </h5>
    </section>

    <section style='justify-content:center; width:100%; margin: 1em;'>
        <a href="/inicioV"><button type="button" class="btn btn-primary btn-lg">Regresar</button></a>
    </section>

    <section>
        <table class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col">ID Cliente</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Email</th>
                <th scope="col">Domicilio</th>
                <th scope="col">ID Vendedor</th>
                </tr>
            </thead>
            <tbody>
                {{# each clientes}}
                <tr>
                {{!-- <th scope="row"></th> --}}
                <td>{{id_cliente}}</td>
                <td>{{nombre}}</td>
                <td>{{telefono}}</td>
                <td>{{email}}</td>
                <td>{{domicilio}}</td>
                <td>{{id_vendedor}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>

    <section>
        <div class="card text-center" style="">
            <div class="card-header">
                 Creado por Michelovers 6°E
            </div>
            <div class="card-body">
                <h5 class="card-title">Control de Inventario de Mazda</h5>
                <p class="card-text">Este software fue desarrollado por un equipo de estudiantes de la Universidad de Colima como proyecto Integrador.<p>
                <a href="http://www.mazda.com" class="btn btn-primary">Mazda</a>
            </div>
        </div>
    </section>
</body>