{{> header }}

<body style="width: 98.9vw; height:100vh">
    <section class="menuBar">
        <h5 class="card-header" style="    margin: 3px; margin-bottom: 20px; font-size: 31px; color:white;">
            <img src="../../assets/images/logoBueno.jpg" style="width: 45px; margin-right: 10px;">Vendedores
            <div class="btn-group" style="float: right;">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menú
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/inicioGA" class="dropdown-item">Perfil</a>
                    <a href="/logout" class="dropdown-item">Cerrar Sesión</a>
                </div>
            </div>
        </h5>
    </section>

    <section style='justify-content:center; margin: 2em;'>
        <a href="/inicioGA"><button type="button" class="btn btn-primary btn-lg">Regresar</button></a>
        <a href="/inicioV/vendedores/altaVendedor"><button type="button" class="btn btn-success btn-lg">Nuevo</button></a>
    </section>

    <section style="margin-bottom: 100px;">
        <table class="table" id="tablaVendedores">
            <thead class="thead-light">
                <tr>
                <th scope="col">ID Vendedor</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Email</th>
                <th scope="col">Domicilio</th>
                <th scope="col">Salario</th>
                <th scope="col">ID Gerente Agencia</th>
                <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each vendedores}}
                <tr>
                {{!-- <th scope="row"></th> --}}
                    <td id="id_usuario">{{id_usuario}}</td>
                    <td>{{nombre}}</td>
                    <td>{{telefono}}</td>
                    <td>{{email}}</td>
                    <td>{{domicilio}}</td>
                    <td>{{salario}}</td>
                    <td>{{id_gerente_agencia}}</td>
                    <td>
                            <a href="/inicioV/vendedores/modificarVendedor/{{id_usuario}}" style="vertical-align: text-top;text-decoration-line: none; color:black;">
                                <i data-feather="edit" style="vertical-align: bottom; margin-right: 5px;"></i>
                                Editar
                            </a>
                            {{!-- <a id={{id_cliente}} class="eliminarCliente" href=""> Eliminar</a> --}}
                            <a id="eliminarVendedor" href="" style="vertical-align: text-top;text-decoration-line: none; margin-left:7px; color:red;">
                                <i data-feather="x-circle" style="vertical-align: bottom; margin-right: 5px;"></i>
                                Eliminar
                            </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</body>
{{> footer}}
<script src="../../assets/javascripts/vendedores.js"></script>